
# ******************************* START LICENSE *******************************
# Thermal Equilibrium Abundances (TEA), a code to calculate gaseous molecular
# abundances in planetary atmospheres under thermochemical equilibrium
# conditions.
#
# This project was completed with the support of the NASA Earth and Space 
# Science Fellowship Program, grant NNX12AL83H, held by Jasmina Blecic, 
# PI Joseph Harrington. Lead scientist and coder Jasmina Blecic, 
# assistant coder Oliver M. Bowman.   
# 
# Copyright (C) 2014 University of Central Florida.  All rights reserved.
# 
# This is a test version only, and may not be redistributed to any third
# party.  Please refer such requests to us.  This program is distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.
# 
# We welcome your feedback, but do not guarantee support.  Please send
# feedback or inquiries to both:
# 
# Jasmina Blecic <jasmina@physics.ucf.edu>
# Joseph Harrington <jh@physics.ucf.edu>
# 
# or alternatively,
# 
# Jasmina Blecic and Joseph Harrington
# UCF PSB 441
# 4000 Central Florida Blvd
# Orlando, FL 32816-2385
# USA
# 
# Thank you for testing TEA!
# ******************************* END LICENSE *******************************

# ============================================================================= 
# Configuration file containing two sections: 
# 1. TEA section with parameters and booleans to run and debug TEA.
# 2. PRE-ATM section with parameters to make pre-atmospheric file. 
# ============================================================================= 


# =============================== TEA SECTION =============================== #
# Change the parameters below to control how TEA runs. The default number of 
# iterations is the optimal value for common molecular species in hot Jupiters.
[TEA]

# === Sets maximum number of iteration ===
# (Def: 100)   Number of iterations the pipeline will run for each T-P point 
maxiter      = 100

                        
# === Controls output files ===
# (Def: False) Preserve headers
save_headers = True
                   
# (Def: False) Preserve intermediate outputs     
save_outputs = True  
                        

# === Controls debugging and tracking ===
# (Def: False) Enable various debug printouts 
doprint      = False
# (Def: False) Enable time printing for speed tests         
times        = False


# === Location of TEA source files ===
location_TEA = /home/jasmina/Work/TEA/TEA-Sep2014/cleaned-TEA

# === Location of abundances file ===
abun_file = /home/jasmina/Work/TEA/abundances.txt

# === Location of working directory ===
location_out = .

# ============================= PRE-ATM SECTION ============================= #
# Execution of this section is optional. The user can produce a TEA
# pre-atmospheric file by running makeatm.py, or make a custom-made file in 
# the format that TEA can read it and place it in the inputs/ folder. 
# See the correct format in the examples/multi_TP/ folder.
#
# Change the parameters below to control how pre-atmospheric file is made.
# Before executing the makeatm.py module make a pressure-temperature file. 
# Run makeatm.py as: makeatm.py <RESULTS_DIR_NAME>
[PRE-ATM]

# Pressure and temperature file
PT_file = /home/jasmina/Work/TEA/TEA-Sep2014/PT/PT.dat

# === Pre-atmospheric filename ===
# Use extension .atm. File will be placed in inputs/.
pre_atm_name    = multiTP.atm

# === Input elements names ===
input_elem      = H He C N O


# === Output species names ===
# MUST have names as they appear in gdata/ folder. 
# MUST include all elemental species.    
output_species  = H_g He_ref C_g N_g O_g H2_ref CO_g CO2_g CH4_g H2O_g N2_ref NH3_g
